In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('eda_data.csv')

In [3]:
df.head()

,Unnamed: 0,Job Profile,Company,AvgSalary,MinSalary,MaxSalary,MinExperience,MaxExperience
0,0,System Engineer,tcs,594125,2.0,11.2,0.0,10.0
1,1,IT Analyst,tcs,905500,3.4,20.5,3.0,11.0
2,2,AST Consultant,tcs,1459521,4.0,29.8,6.0,15.0
3,3,Assistant System Engineer,tcs,395563,2.5,5.9,0.0,4.0
4,4,Associate Consultant,tcs,1813704,3.8,34.2,4.0,21.0

In [4]:
df = df.drop('Unnamed: 0',axis=1)
df = df.reset_index(drop=True)

In [5]:
df.head()

,Job Profile,Company,AvgSalary,MinSalary,MaxSalary,MinExperience,MaxExperience
0,System Engineer,tcs,594125,2.0,11.2,0.0,10.0
1,IT Analyst,tcs,905500,3.4,20.5,3.0,11.0
2,AST Consultant,tcs,1459521,4.0,29.8,6.0,15.0
3,Assistant System Engineer,tcs,395563,2.5,5.9,0.0,4.0
4,Associate Consultant,tcs,1813704,3.8,34.2,4.0,21.0

In [6]:
df['AvgExperience'] =  (df['MinExperience']+df['MaxExperience']) / 2

In [7]:
df.drop(['MinExperience', 'MaxExperience'], axis=1, inplace=True)

In [8]:
df['Job_Company'] = df['Job Profile'] + '_' + df['Company']

In [9]:
df=df.drop(['Job Profile','Company'],axis=1)
df=df.reset_index(drop=True)

In [10]:
df.head()

,AvgSalary,MinSalary,MaxSalary,AvgExperience,Job_Company
0,594125,2.0,11.2,5.0,System Engineer_tcs
1,905500,3.4,20.5,7.0,IT Analyst_tcs
2,1459521,4.0,29.8,10.5,AST Consultant_tcs
3,395563,2.5,5.9,2.0,Assistant System Engineer_tcs
4,1813704,3.8,34.2,12.5,Associate Consultant_tcs

In [11]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder instance
label_encoder = LabelEncoder()

# Convert categorical columns to numerical using label encoding
df['Company_Job'] = label_encoder.fit_transform(df['Job_Company'])

In [12]:
df.head()

,AvgSalary,MinSalary,MaxSalary,AvgExperience,Job_Company,Company_Job
0,594125,2.0,11.2,5.0,System Engineer_tcs,4440
1,905500,3.4,20.5,7.0,IT Analyst_tcs,1840
2,1459521,4.0,29.8,10.5,AST Consultant_tcs,13
3,395563,2.5,5.9,2.0,Assistant System Engineer_tcs,396
4,1813704,3.8,34.2,12.5,Associate Consultant_tcs,448

In [13]:
df.drop('Job_Company',axis=1, inplace=True)

In [14]:
X = df.drop('AvgSalary', axis=1)  # Features
y = df['AvgSalary']  # Target variable

In [15]:
from sklearn.preprocessing import MinMaxScaler
sclr = MinMaxScaler()
X_desired = sclr.fit_transform(X)
X_desired

array([[0.03448276, 0.09203723, 0.14516129, 0.89660743],
       [0.08275862, 0.18821096, 0.20967742, 0.37156704],
       [0.10344828, 0.28438469, 0.32258065, 0.0026252 ],
       ...,
       [0.06896552, 0.03929679, 0.40322581, 0.82471729],
       [0.04827586, 0.05894519, 0.        , 0.97273829],
       [0.11034483, 0.10651499, 0.08064516, 0.43214863]])

In [17]:
import joblib

# Save the MinMaxScaler to a file
joblib.dump(sclr, 'min_max_scaler.pkl')

['min_max_scaler.pkl']

In [18]:
from sklearn.model_selection import train_test_split

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_desired, y, test_size=0.2, random_state=42)

# Check the shapes of the train and test sets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (4000, 4)
X_test shape: (1000, 4)
y_train shape: (4000,)
y_test shape: (1000,)

In [19]:
missing_values = np.isnan(X_train)
missing_values_count = np.sum(missing_values)

print("Number of missing values in X_train: \n", missing_values_count)

Number of missing values in X_train:
 0

In [11]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder instance
label_encoder = LabelEncoder()

# Convert categorical columns to numerical using label encoding
df['Job Profile'] = label_encoder.fit_transform(df['Job Profile'])
df['Company'] = label_encoder.fit_transform(df['Company'])

In [12]:
df.dtypes

Job Profile        int32
Company            int32
AvgSalary          int64
MinSalary        float64
MaxSalary        float64
MinExperience    float64
MaxExperience    float64
dtype: object

In [13]:
from sklearn.preprocessing import StandardScaler
X = df.drop('AvgSalary', axis=1)  # Features
y = df['AvgSalary']  # Target variable

In [14]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [15]:
from sklearn.model_selection import train_test_split

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Check the shapes of the train and test sets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (4000, 6)
X_test shape: (1000, 6)
y_train shape: (4000,)
y_test shape: (1000,)

In [16]:
missing_values = np.isnan(X_train)
missing_values_count = np.sum(missing_values)

print("Number of missing values in X_train:", missing_values_count)

Number of missing values in X_train: 0

In [20]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Linear Regression
linear_reg_model = LinearRegression()
linear_reg_model.fit(X_train, y_train)
linear_reg_pred = linear_reg_model.predict(X_test)
linear_mse = mean_squared_error(y_test, linear_reg_pred)
linear_mae = mean_absolute_error(y_test, linear_reg_pred)
linear_r2 = r2_score(y_test, linear_reg_pred)

# Random Forest Regression
rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)
rf_pred = rf_model.predict(X_test)
rf_mse = mean_squared_error(y_test, rf_pred)
rf_mae = mean_absolute_error(y_test, rf_pred)
rf_r2 = r2_score(y_test, rf_pred)

# Support Vector Regression
svr_model = SVR()
svr_model.fit(X_train, y_train)
svr_pred = svr_model.predict(X_test)
svr_mse = mean_squared_error(y_test, svr_pred)
svr_mae = mean_absolute_error(y_test, svr_pred)
svr_r2 = r2_score(y_test, svr_pred)

print("Linear Regression:")
print("Mean Squared Error:", linear_mse)
print("Mean Absolute Error:", linear_mae)
print("R-squared:", linear_r2)

print("\nRandom Forest Regression:")
print("Mean Squared Error:", rf_mse)
print("Mean Absolute Error:", rf_mae)
print("R-squared:", rf_r2)

print("\nSupport Vector Regression:")
print("Mean Squared Error:", svr_mse)
print("Mean Absolute Error:", svr_mae)
print("R-squared:", svr_r2)

Linear Regression:
Mean Squared Error: 84616606548.19821
Mean Absolute Error: 143962.1436349053
R-squared: 0.7788261714771483

Random Forest Regression:
Mean Squared Error: 70735031609.63695
Mean Absolute Error: 89559.41124000002
R-squared: 0.8151103147480041

Support Vector Regression:
Mean Squared Error: 433746203838.721
Mean Absolute Error: 374389.8390508295
R-squared: -0.133740910014146

In [21]:
print("Random Forest Regression:")
print(f"Mean Squared Error: {rf_mse}")
print(f"Mean Absolute Error: {rf_mae}")
print(f"R-squared: {rf_r2}")

Random Forest Regression:
Mean Squared Error: 70735031609.63695
Mean Absolute Error: 89559.41124000002
R-squared: 0.8151103147480041

In [22]:
feature_importances = rf_model.feature_importances_
feature_names = X.columns
feature_importance_dict = dict(zip(feature_names, feature_importances))
sorted_feature_importance = sorted(feature_importance_dict.items(), key=lambda x: x[1], reverse=True)
print("Feature Importances:")
print(sorted_feature_importance)

Feature Importances:
[('MaxSalary', 0.7052629415202084), ('Company_Job', 0.13654763178566184), ('MinSalary', 0.12556680993785907), ('AvgExperience', 0.03262261675627068)]

In [23]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Create a new Random Forest Regressor with the best hyperparameters
best_rf_model = RandomForestRegressor(
    n_estimators=300,
    min_samples_split=2,
    min_samples_leaf=4,
    max_depth=20
)

# Train the model on the training data
best_rf_model.fit(X_train, y_train)

# Make predictions on the test data
rf_pred = best_rf_model.predict(X_test)

# Calculate evaluation metrics
rf_mse = mean_squared_error(y_test, rf_pred)
rf_mae = mean_absolute_error(y_test, rf_pred)
rf_r2 = r2_score(y_test, rf_pred)

# Print the evaluation metrics
print("Random Forest Regression:")
print("ROOT Mean Squared Error:", np.sqrt(rf_mse))
print("Mean Absolute Error:", rf_mae)
print("R-squared:", rf_r2)

Random Forest Regression:
ROOT Mean Squared Error: 257917.66193031764
Mean Absolute Error: 87467.75036794462
R-squared: 0.8261237370302101

In [24]:
best_rf_model = RandomForestRegressor(n_estimators=300, min_samples_split=2, min_samples_leaf=4, max_depth=20)
best_rf_model.fit(X_train, y_train)

RandomForestRegressor(max_depth=20, min_samples_leaf=4, n_estimators=300)

In [25]:
predicted_avg_salary = best_rf_model.predict(X_test)

In [26]:
comparison = pd.DataFrame({'Actual AvgSalary': y_test, 'Predicted AvgSalary': predicted_avg_salary})
print(comparison)

      Actual AvgSalary  Predicted AvgSalary
1501           1095900         1.036119e+06
2586            467380         5.085842e+05
2653            858310         7.992504e+05
1055           2135528         1.994395e+06
705             447022         5.090269e+05
...                ...                  ...
4711            199771         3.447954e+05
2313           1871584         1.813771e+06
3214            161619         4.584530e+05
2732            921350         9.194623e+05
1926            926299         9.342432e+05

[1000 rows x 2 columns]

In [27]:
from sklearn.metrics import confusion_matrix, accuracy_score,r2_score
ac = r2_score(y_test,predicted_avg_salary)
print(ac)

0.8255952487825349

In [28]:
# Calculate evaluation metrics
rf_mse = mean_squared_error(y_test, predicted_avg_salary)
rf_mae = mean_absolute_error(y_test, predicted_avg_salary)
rf_r2 = r2_score(y_test, predicted_avg_salary)

# Print the evaluation metrics
print("Random Forest Regression:")
print("Root Mean Squared Error:", np.sqrt(rf_mse))
print("Mean Absolute Error:", rf_mae)
print("R-squared:", rf_r2)

Random Forest Regression:
Root Mean Squared Error: 258309.32849195017
Mean Absolute Error: 87993.82412425228
R-squared: 0.8255952487825349

In [29]:
from sklearn.metrics import r2_score

# Predictions using the best tuned Random Forest model
rf_pred = best_rf_model.predict(X_test)

# Calculate R-squared
r2 = r2_score(y_test, rf_pred)

# Calculate accuracy in percentage
accuracy_percentage = r2 * 100

print(f"Accuracy of the best tuned Random Forest model: {accuracy_percentage:.2f}%")

Accuracy of the best tuned Random Forest model: 82.56%

In [30]:
import joblib

# Save the model to a file
model_filename = 'random_forest_model_scaled.pkl'
joblib.dump(best_rf_model, model_filename)

['random_forest_model_scaled.pkl']

In [31]:
loaded_model = joblib.load(model_filename)

In [32]:
print(loaded_model)

RandomForestRegressor(max_depth=20, min_samples_leaf=4, n_estimators=300)

In [34]:
val_pred = X_desired[5]
val_pred

array([0.0137931 , 0.05791107, 0.16129032, 0.75726979])

In [35]:
# N = 5
# df.iloc[N]

# value_pred = X_desired.iloc[N].to_list()
# value_pred = value_pred[1:]
# print(value_pred)

predictions = loaded_model.predict([val_pred])

print(predictions)

[418385.45507664]